* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: white;
}

header 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #e98915;
    font-size: 19px;
    font-weight: bold;
}

.head 
{
    font-size: 25px;
}

.subliminal 
{
    font-size: 10px;
    color: #ffffffad;
}

nav ul 
{
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a 
{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover 
{
    color: #ffe600;
}

nav s 
{
    color: #e98915;
}

nav s:hover 
{
    color: #ff0000;
    transition: 1.7s;
}

.PATOS 
{
    background: url("https://c.pxhere.com/photos/e6/81/ducks_figures_group_cute_sweet_many-1411876.jpg!d") center/cover no-repeat;
    height: 400px;
    display: flex;
    align-items: center;
    padding: 40px;
    position: relative;
}

.PATOS::before 
{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.514);
}

.texto-PATOS 
{
    max-width: 500px;
    position: relative;
    z-index: 2;
}

.PATOS h1 
{
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffd900;
}

.PATOS p 
{
    margin-bottom: 20px;
}

.PATOS button 
{
    padding: 10px 20px;
    border: none;
    background-color: #e67e00;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.PATOS button:hover 
{
    background-color: #c96d00;
}

.MAS 
{
    padding: 40px;
}

.MAS h2 
{
    margin-bottom: 20px;
    color: #ffd900;
}

.descubre 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card 
{
    background-color: #2a2a2a;
    border-radius: 6px;
    overflow: hidden;
    text-align: center;
}

.card a 
{
    text-decoration: none;
    color: inherit;      
    display: block;
}

.card img 
{
    width: 100%;
    height: 260px;
    object-fit: cover;
    display: block;
}

.card h3 
{
    padding: 12px;
}

footer 
{
    text-align: center;
    padding: 20px;
    background-color: #111;
    margin-top: 40px;
}


footer s 
{
    color: #555;
    font-size: 13px;
}


@media (max-width: 992px) {
    .descubre {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {

    header {
        flex-direction: column;
        gap: 10px;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .descubre {
        grid-template-columns: 1fr;
    }

    .PATOS {
        height: auto;
    }
}
